<!DOCTYPE html>
<html>
    <head>
      <%- include ('../partials/head.ejs') %>
    </head>
    <body>
      <nav>
      <%- include ('../partials/nav.ejs') %>
      </nav>
      <h1><%=log.title; %></h1>
      <h3><%=log.entry; %></h3>
        <%if (log.isShipBroken === true) { %>
          <h3>The ship is broken</h3>
        <%} else {%>
            <h3>The ship is not broken</h3>
            <%}%>

      <form action="/logs/<%=log.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
      <nav>
        <button type="button" name="button"><a href="/logs">BACK TO LOGS</a></button>
      </nav>
      <nav>
        <button type="button" name="button"><a href="/logs/<%=log._id%>/edit">Edit</a></button>
      </nav>
      <script src="/js/show/app.js" charset="utf-8"></script>
    </body>
</html>
