<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/./style.css">
  </head>
  <body>
    <h1><%=item.name%></h1>
    <div>
      <dl>
        <dt>Name</dt>
        <dd><%=item.name%></dd>
        <dt>Date</dt>
        <dd><%=item.date%></dd>
        <dt>Amount</dt>
        <dd><%=item.amount%></dd>
        <dt>Tags:</dt>
        <dd><%=item.tags%></dd>
      </dl>
    <div>
  </body>
</html>
